<router-outlet></router-outlet>
<!-- <div>
  <h1>Get exchange rate</h1>
</div>

<label>Specify an ISO code in order to get exchange</label>
<input type="text" class="form-control" id="isoCodeInput" required [(ngModel)]="isoCodeForInput" name="isoCodeInput">

<button (click)="getExchangeRate()" *ngIf="!busy">Get Exchange Rate</button>
<div *ngIf="busy">
  Loading...
</div>

<div *ngIf="!busy && exchangeRate">
  The exchange rate for {{isoCodeForRequest}} is {{exchangeRate.Ammount}}.
</div>

<div *ngIf="errorMessage" style="color: red;">
    {{errorMessage}}.
</div>
 -->

